---
export interface Props {
  to: string;
  class?: string;
}

const props = Astro.props;
---

<a href={props.to} class={`bg-gray-800 text-white px-5 py-3 rounded inline-block ${props.class}`}>
  <slot />
</a>
